<div class="" *ngIf="editContactForm">

  <form [formGroup]="editContactForm" class="container">

    <div class="row mb-4">

      <label class="form-label" for="name">Nombre </label>
      <input class="form-control" type="text" formControlName="name">
      <div *ngIf="!editContactForm.get('name')?.valid" class="text-danger">El contacto debe tener un nombre.</div>

      <label class="form-label" for="lastName">Apellido</label>
      <input class="form-control" type="text" formControlName="lastName">


      <div class="col-6" formArrayName="phones">
        <div *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i">
          <label class="form-label" for="phone">Phone number </label>
          <input class="form-control" type="text" formControlName="number">

          <div class="text-danger" *ngIf="phone.invalid && phone.touched">Introduce un número válido</div>

          <button class="btn btn-danger m-3" (click)="removePhoneFormGroup(i)">Remove</button>
        </div>
        <button class="btn btn-primary" (click)="addPhoneFormGroup()">Add</button>
      </div>


      <div class="col-6" formArrayName="emails">
        <div class="" *ngFor="let email of emails.controls; let i = index" [formGroupName]="i">
          <label class="form-label" for="email">Email </label>
          <input class="form-control" type="text" formControlName="emailContact">

          <div class="text-danger" *ngIf="email.invalid && email.touched">Debes introducir un email válido</div>

          <button class="btn btn-danger m-3" (click)="removeEmailFormGroup(i)">Eliminar</button>
        </div>
        <button class="btn btn-primary" (click)="addEmailFormGroup()">Agregar</button>
      </div>


      <label class="form-label" for="nationalId">Identificación </label>
      <input class="form-control" type="text" formControlName="nationalId">

      <label class="form-label" for="direction">Dirección </label>
      <input class="form-control" type="text" formControlName="direction">

    </div>


  </form>

  <button class="btn btn-primary m-2" type="submit" (click)="editContact()">Editar contacto</button>

  <button class="btn btn-secondary" routerLink="/" >Volver</button>

</div>
